################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/designsystemetts/.vs/designsystemetts
/src/designsystemetts/designsystemetts/obj/Debug
